---
layout: page
---
<!-- <h2>Welcome to Valley View Backpackers.</h2> -->
<p>
  Please see our
  <a href="https://www.hostelworld.com/pwa/hosteldetails.php/Valley-View-Backpackers/Graskop/73460" target="_blank">Hostel World listing</a> 
  for up-to-date images and rates.
  <br>You can book there or via email or phone. 
</p>

<h2>Contact Info</h2>
<ul>
  <li>Call or WhatsApp: <a href="tel:+27842990423">+27 84 299 04 23</a></li>
  <li>Email: <a href="mailto:valleyviewbackpackers@gmail.com">valleyviewbackpackers@gmail.com</a></li>
  <li>Address: <a href="https://goo.gl/maps/wsZu4PeHJdnirQN58" target="_blank">ValleyView Backpackers, 47 De Lange Street, Graskop, 1270, South Africa</a></li>
</ul>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14471.83184399443!2d30.834439!3d-24.933502!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfc69ce63780ca197!2sValley%20View%20Backpackers%20Graskop!5e0!3m2!1sen!2sza!4v1630939541335!5m2!1sen!2sza" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<!-- <div class="gallery" data-spotlight-group>
  {% for image in site.static_files %}
    {% if image.path contains 'assets/gallery' %}

      <img src="{{ site.baseurl }}{{ image.path }}" data-spotlight/>

    {% endif %}
  {% endfor %}
</div> -->


<style>
  .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1rem;
      padding: 1rem;
  }
  .gallery img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      cursor: pointer;
      border-radius: 4px;
      transition: transform 0.5s;
  }
  .gallery img:hover {
      transform: scale(3);
  }
  .gallery img:active {
      transform: scale(3);
  }
</style>